[submodule "kernel/apps/doomgeneric"]
	path = kernel/apps/doomgeneric
	url = https://github.com/ozkl/doomgeneric.git
[submodule "kernel/net/lwip"]
	path = kernel/net/lwip
	url = https://github.com/lwip-tcpip/lwip.git
